<div>
    <h1><i class="fa fa-cog"></i> General Settings</h1>
    <% if (updateReady && !canAutoUpdate) { %>
    <h2 class="action-color">Update</h2>
    <div>New app version was released and downloaded.</div>
    <div class="settings__general-update-buttons">
        <button class="settings__general-restart-btn">Reload to update</button>
    </div>
    <% } else if (updateManual) { %>
    <h2 class="action-color">Update</h2>
    <div>New version has been released. It will check for updates and install them automatically
        but auto-upgrading from your version is impossible.</div>
    <div class="settings__general-update-buttons">
        <button class="settings__general-download-update-btn">Download update</button>
    </div>
    <% } %>
    <h2>Appearance</h2>
    <div>
        <label for="settings__general-theme">Theme:</label>
        <select class="settings__general-theme settings__select input-base" id="settings__general-theme">
            <% _.forEach(themes, function(name, key) { %>
            <option value="<%= key %>" <%= key === activeTheme ? 'selected' : '' %>><%- name %></option>
            <% }); %>
        </select>
    </div>
    <div>
        <input type="checkbox" class="settings__input input-base settings__general-expand" id="settings__general-expand" <%- expandGroups ? 'checked' : '' %> />
        <label for="settings__general-expand">Show entries from all subgroups</label>
    </div>
    <% if (canAutoUpdate && !updateManual) { %>
    <h2>Function</h2>
    <div>
        <input type="checkbox" class="settings__input settings__general-auto-update" id="settings__general-auto-update" <%- autoUpdate ? 'checked' : '' %> />
        <label for="settings__general-auto-update">Automatic updates</label>
        <div><%- updateInfo %></div>
    </div>
    <div class="settings__general-update-buttons">
        <% if (updateInProgress) { %>
        <button class="settings__general-update-btn btn-silent" disabled>Checking for updates</button>
        <% } else { %>
        <button class="settings__general-update-btn btn-silent">Check for updates</button>
        <% } %>
        <% if (updateReady) { %>
        <button class="settings__general-restart-btn">Restart to update</button>
        <% } %>
    </div>
    <% } %>
    <% if (devTools) { %>
    <h2>Advanced</h2>
    <a class="settings__general-dev-tools-link">Show dev tools</a>
    <% } %>
</div>
