<div class="settings">
    <div class="settings__back-button">
        <i class="fa fa-chevron-left settings__back-button-pre"></i>{{res 'retToApp'}} <i class="fa fa-circle-arrow-left settings__back-button-post"></i>
    </div>
    <div class="scroller">
    </div>
    <div class="scroller__bar-wrapper"><div class="scroller__bar"></div></div>
</div>
