<div>
    <h1><i class="fa fa-question"></i> Help</h1>
    <h2>File Format</h2>
    <p>This is a port of <a href="http://keepass.info/" target="_blank">KeePass</a> app built with web technologies.
        It understands files in KeePass format (kdbx). You can create such files (password databases) either in KeePass, or in this app.
        The file format is 100% compatible and should be understood by both apps.
    </p>
    <h2>Problems?</h2>
    <p>If something goes wrong, please, <a href="https://github.com/antelle/keeweb/issues/new?body=<%= issueBody %>" target="_blank">open an issue on GitHub</a>
        or <a href="http://antelle.net/" target="_blank">connect a developer</a> directly.
    </p>
    <p>App information:</p>
    <pre class="settings__pre"><%= appInfo %></pre>
</div>
