<h1><i class="fa fa-keyboard-o"></i> Shortcuts</h1>
<div><span class="shortcut"><%= cmd %>A</span> or <span class="shortcut"><%= alt %>A</span> show all items</div>
<div><span class="shortcut"><%= alt %>C</span> show items with colors</div>
<div><span class="shortcut"><%= alt %>D</span> go to trash</div>
<div><span class="shortcut"><%= cmd %>F</span> search, or just start typing</div>
<div><span class="shortcut">esc</span> clear search</div>
<div><span class="shortcut">⏎</span> go to entry</div>
<div><span class="shortcut"><%= cmd %>C</span> copy password or selected field</div>
<div><span class="shortcut">&uarr;</span> go to previous item</div>
<div><span class="shortcut">&darr;</span> go to next item</div>
<div><span class="shortcut"><%= alt %>N</span> create entry</div>
<div><span class="shortcut"><%= cmd %>O</span> open / new</div>
<div><span class="shortcut"><%= cmd %>S</span> save</div>
<div><span class="shortcut"><%= cmd %>G</span> generate</div>
