<div class="settings__content">
    <h1><i class="fa fa-lock settings__head-icon"></i> {{name}}</h1>

    <p>{{#res 'setFileDeviceIntro'}}{{deviceClassName}}{{/res}}</p>

    <div class="settings__file-buttons">
        <button class="settings__file-button-settings btn-silent">{{res 'setFileDeviceSettings'}}</button>
        <button class="settings__file-button-close btn-silent">{{res 'setFileClose'}}</button>
    </div>
</div>
