$themes: map-merge(
    $themes,
    (
        db:
            map-merge(
                $theme-defaults,
                (
                    background-color: #342f2e,
                    medium-color: #fed9d8,
                    text-color: #ffeae9,
                    action-color: #2c9957,
                    error-color: #fd6d67
                )
            )
    )
);

body.th-db {

    /*!
        Markdown Viewer
    */

    --md-title-color: #7a7a7a;
    --md-icon-color: #2d8951;
    --md-text-color: #cfcfcf;
    --md-header-border: 1px dashed #585858;
    --md-header-title-align: right;
    --md-header-return-align: right;

    --md-h1-color: #fd6d67;
    --md-h2-color: #868686;
    --md-h3-color: #868686;
    --md-h4-color: #6d6d6d;
    --md-h5-color: #6d6d6d;
    --md-h6-color: #6d6d6d;
    --md-h1-text-transform: normal;
    --md-h2-text-transform: normal;
    --md-h3-text-transform: normal;
    --md-h4-text-transform: normal;
    --md-h5-text-transform: normal;
    --md-h6-text-transform: normal;
    --md-h1-text-weight: normal;
    --md-h2-text-weight: normal;
    --md-h3-text-weight: normal;
    --md-h4-text-weight: normal;
    --md-h5-text-weight: normal;
    --md-h6-text-weight: normal;

    --md-hx-link-weight: lighter;
    --md-hx-link-align: super;

    --md-link-n-color: #2d8951;
    --md-link-h-color: #FFFFFF;
    --md-link-decorator-color: #FFFFFF;

    --md-paragraph-spacing-start: 1;
    --md-paragraph-spacing-end: 2;
    --md-ul-indent: 2;
    --md-ul-spacing-start: 1;
    --md-ul-spacing-end: 1;
    --md-ul-text-weight: lighter;

    --md-accent-em-color: #E0DB92;
    --md-strong-em-color-1: #43D3FF;
    --md-strong-em-color-2: #BAAAFF;
    --md-accent-strong-color: #FF7190;
    --md-accent-abbr-color: #d6ad53;
    --md-accent-abbr-line-color: #6260c4;
    --md-accent-strike-text-color: rgba(255, 255, 255, 0.3);
    --md-accent-strike-line-color: rgba(255, 255, 255, 1);

    --md-code-block-text-color: #c46a6a;
    --md-code-block-text-weight: bold;
    --md-code-block-accent-style: 6px solid #34af6a;;
    --md-code-inline-text-color: #fd6d67;
    --md-code-inline-text-weight: bolder;
    --md-code-bg-color: #262221;

    --md-table-head-bg-color: #7d403e;
    --md-table-body-bg-color: #001b22;
    --md-table-head-text-color: #FFFFFF;
    --md-table-inline-codeblock-bg-color: hsla(var(--md-hue), 100%, 100%, 0.15);
    --md-table-body-left-color: hsla(var(--md-hue), 0%, 0%, 0.45);
    --md-table-text-left-color: #FFFFFF;
    --md-table-text-right-color: #FFFFFF;
    --md-table-border-rows-color: hsla(var(--md-hue), 15%, 95%, 0.12);
    --md-table-border-outside-color: #222222;

    --md-blockquote-text-color: #cfcfcf;
    --md-blockquote-text-style: italic;
    --md-blockquote-body-bg-color: #262221;
    --md-blockquote-accent-color: #fd6d67;
    --md-blockquote-inline-codeblock-bg-color: hsla(var(--md-hue), 0%, 0%, 0.96);

    --md-hr-color-1: #c3c9d33d;
    --md-hr-color-4: #c3c9d33d;
    --md-hr-color-2: #c3c9d33d;
    --md-hr-color-3: #c3c9d33d;

    --md-alert-note-color: #539bf5;
    --md-alert-tip-color: #57ab5a;
    --md-alert-important-color: #986ee2;
    --md-alert-warning-color: #c69026;
    --md-alert-caution-color: #e5534b;
    --md-alert-bg-color: #262221;
    --md-alert-border-style: 4px solid #444c56;;

    --md-checkbox-bg-unchecked-color: #3a3a3a;
    --md-checkbox-border-unchecked-color: #4e4e4e;
    --md-checkbox-bg-checked-color: #2d8951;
    --md-checkbox-bg-hover-color: #449b4b;
    --md-checkbox-border-hover-color: #FFFFFF;

    --md-footnote-opacity-full: 1;
    --md-footnote-opacity-min: 0.4;

    /*!
        General
    */

    .list__item--active .blue-color {
        color: #0051d2;
    }
    .list__item--active .green-color {
        color: #77d644;
    }

    /*!
        Syntax Highlighting

        These colors are taken from highlight.js.
        to change the theme or create your own theme, you can find the highlighter themes at:
            https://github.com/highlightjs/highlight.js/tree/main/src/styles

        Theme Viewer:
            https://highlightjs.org/demo

        @theme  : kimbie-dark.css
    */

        pre code.hljs {
            display: block;
            overflow-x: auto;
            padding: 1em
        }

        code.hljs {
            padding: 3px 5px
        }

        .hljs {
            background: #221a0f;
            color: #d3af86
        }

        /* Kimbie Comment */
        .hljs-comment,
        .hljs-quote {
            color: #d6baad
        }

        /* Kimbie Red */
        .hljs-variable,
        .hljs-template-variable,
        .hljs-tag,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-regexp,
        .hljs-meta {
            color: #dc3958
        }

        /* Kimbie Orange */
        .hljs-number,
        .hljs-built_in,
        .hljs-literal,
        .hljs-type,
        .hljs-params,
        .hljs-deletion,
        .hljs-link {
            color: #f79a32
        }

        /* Kimbie Green */
        .hljs-string,
        .hljs-symbol,
        .hljs-bullet,
        .hljs-addition {
            color: #889b4a
        }

        /* Kimbie Purple */
        .hljs-keyword,
        .hljs-selector-tag,
        .hljs-function {
            color: #98676a
        }

        /* Kimbie Yellow */
        .hljs-title,
        .hljs-section,
        .hljs-attribute {
            color: #f06431
        }

        .hljs-emphasis {
            font-style: italic
        }

        .hljs-strong {
            font-weight: bold
        }

}
