$themes: map-merge(
    $themes,
    (
        lt:
            map-merge(
                $theme-defaults,
                (
                    background-color: #eee,
                    medium-color: #444,
                    text-color: #222,
                    action-color: #13a453,
                    error-color: #c34034,
                    mute-percent: 50%
                )
            )
    )
);

body.th-lt {

    /*!
        Markdown Viewer
    */

    --md-title-color: #4d4d4d;
    --md-icon-color: #15914c;
    --md-text-color: #525252;
    --md-header-border: 1px dashed #585858;
    --md-header-title-align: right;
    --md-header-return-align: right;

    --md-h1-color: #646464;
    --md-h2-color: #EF5471;
    --md-h3-color: #565656;
    --md-h4-color: #BD1E55;
    --md-h5-color: #565656;
    --md-h6-color: #565656;
    --md-h1-text-transform: normal;
    --md-h2-text-transform: normal;
    --md-h3-text-transform: normal;
    --md-h4-text-transform: normal;
    --md-h5-text-transform: uppercase;
    --md-h6-text-transform: uppercase;
    --md-h1-text-weight: lighter;
    --md-h2-text-weight: bold;
    --md-h3-text-weight: normal;
    --md-h4-text-weight: normal;
    --md-h5-text-weight: normal;
    --md-h6-text-weight: normal;

    --md-hx-link-weight: lighter;
    --md-hx-link-align: super;

    --md-link-n-color: #6e70cf;
    --md-link-h-color: #318053;
    --md-link-decorator-color: #6260c4;

    --md-paragraph-spacing-start: 1;
    --md-paragraph-spacing-end: 2;
    --md-ul-indent: 2;
    --md-ul-spacing-start: 1;
    --md-ul-spacing-end: 1;
    --md-ul-text-weight: lighter;

    --md-accent-em-color: #b98e15;
    --md-strong-em-color-1: #4375ff;
    --md-strong-em-color-2: #432ea1;
    --md-accent-strong-color: #FF7190;
    --md-accent-abbr-color: #5a8ce9;
    --md-accent-abbr-line-color: #6260c4;
    --md-accent-strike-text-color: rgba(97, 97, 97, 0.3);
    --md-accent-strike-line-color: rgb(48, 48, 48);

    --md-code-block-text-color: #dbdbdb;
    --md-code-block-text-weight: bold;
    --md-code-block-accent-style: 6px solid #34af6a;;
    --md-code-inline-text-color: #dfc73f;
    --md-code-inline-text-weight: bolder;
    --md-code-bg-color: #262626;

    --md-table-head-bg-color: #444242;
    --md-table-body-bg-color: hsla(var(--md-hue), 0%, 0%, 0.80);
    --md-table-head-text-color: #FFFFFF;
    --md-table-inline-codeblock-bg-color: hsla(var(--md-hue), 0%, 30%, 0.75);
    --md-table-body-left-color: hsla(var(--md-hue), 0%, 0%, 0.40);
    --md-table-text-left-color: #FFFFFF;
    --md-table-text-right-color: #FFFFFF;
    --md-table-border-rows-color: hsla(var(--md-hue), 15%, 95%, 0.12);
    --md-table-border-outside-color: #97979734;

    --md-blockquote-text-color: #444444;
    --md-blockquote-text-style: italic;
    --md-blockquote-body-bg-color: #9191911c;
    --md-blockquote-accent-color: #15914c;
    --md-blockquote-inline-codeblock-bg-color: hsla(var(--md-hue), 0%, 0%, 0.75);

    --md-hr-color-1: #cacaca;
    --md-hr-color-4: #cacaca;
    --md-hr-color-2: #cacaca;
    --md-hr-color-3: #cacaca;

    --md-alert-note-color: #539bf5;
    --md-alert-tip-color: #57ab5a;
    --md-alert-important-color: #986ee2;
    --md-alert-warning-color: #c69026;
    --md-alert-caution-color: #e5534b;
    --md-alert-bg-color: #e4e4e4;
    --md-alert-border-style: 4px solid #444c56;;

    --md-checkbox-bg-unchecked-color: #d4d4d4;
    --md-checkbox-border-unchecked-color: #a0a0a0;
    --md-checkbox-bg-checked-color: #34af6a;
    --md-checkbox-bg-hover-color: #449b4b;
    --md-checkbox-border-hover-color: #FFFFFF;

    --md-footnote-opacity-full: 1;
    --md-footnote-opacity-min: 0.4;

    /*!
        General
    */

    .list__item--active .green-color {
        color: #7be045;
    }
    .list__item--active .blue-color {
        color: #0750c5;
    }

    /*!
        Syntax Highlighting

        These colors are taken from highlight.js.
        to change the theme or create your own theme, you can find the highlighter themes at:
            https://github.com/highlightjs/highlight.js/tree/main/src/styles

        Theme Viewer:
            https://highlightjs.org/demo

        @theme  : gml.css
    */

        pre code.hljs {
            display: block;
            overflow-x: auto;
            padding: 1em
        }

        code.hljs {
            padding: 3px 5px
        }

        .hljs {
            background: #222222;
            color: #C0C0C0
        }

        .hljs-keyword {
            color: #FFB871;
            font-weight: bold
        }

        .hljs-built_in {
            color: #FFB871
        }

        .hljs-literal {
            color: #FF8080
        }

        .hljs-symbol {
            color: #58E55A
        }

        .hljs-comment {
            color: #5B995B
        }

        .hljs-string {
            color: #FFFF00
        }

        .hljs-number {
            color: #FF8080
        }

        .hljs-attribute,
        .hljs-selector-tag,
        .hljs-doctag,
        .hljs-name,
        .hljs-bullet,
        .hljs-code,
        .hljs-addition,
        .hljs-regexp,
        .hljs-variable,
        .hljs-template-variable,
        .hljs-link,
        .hljs-selector-attr,
        .hljs-selector-pseudo,
        .hljs-type,
        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-quote,
        .hljs-template-tag,
        .hljs-deletion,
        .hljs-title,
        .hljs-section,
        .hljs-function,
        .hljs-meta .hljs-keyword,
        .hljs-meta,
        .hljs-subst {
            color: #C0C0C0
        }

        .hljs-emphasis {
            font-style: italic
        }

        .hljs-strong {
            font-weight: bold
        }

}
