$themes: map-merge(
    $themes,
    (
        macdark:
            map-merge(
                $theme-defaults,
                (
                    background-color: #1f1f20,
                    medium-color: #b7b7b8,
                    text-color: #f7f7f7,
                    action-color: #3063d4,
                    error-color: #ec655a,
                    focus-shadow-blur: 0,
                    focus-shadow-spread: 3px,
                    button-border-radius: 2px,
                    input-border-radius: 3px,
                    selected-border-width: 0,
                    accent-border-width: 0
                )
            )
    )
);

body.th-macdark {
    --light-border-color: rgb(68, 68, 69, 0.7);
    --secondary-background-color: #2d2d2e;
    --form-box-border-focus: #6697c0;
    --form-box-shadow-color-focus: #44749d;
    --selected-item-color: #2457c9;
    .app__menu {
        background-color: var(--secondary-background-color);
        .menu__item.menu__item--active > .menu__item-body,
        .menu__item.menu__item--active.menu__item--hover > .menu__item-body {
            background-color: #515152;
        }
        .menu__item-edit,
        .menu__item-empty-trash {
            right: 0.5em;
        }
        .menu__item-edit:not(:hover),
        .menu__item-empty-trash:not(:hover) {
            color: #8f8f91;
        }
    }
    .app__footer {
        background-color: var(--secondary-background-color);
    }
    .at-select__table .at-select__item {
        border-right-width: 0;
    }
    .at-select__table .at-select__item.at-select__item--active {
        background-color: var(--selected-item-color);
    }
    .at-select__item--active .at-select__item-options:hover {
        background: var(--secondary-background-color);
    }
    .dropdown__item--active,
    .dropdown__item--active:hover {
        background-color: var(--selected-item-color);
    }
    @include nomobile {
        .list__item--active,
        .list__item--active:hover {
            background-color: var(--selected-item-color);
            .list__item-descr {
                color: #8f8f91;
            }
        }
        input,
        textarea,
        select {
            background-color: rgba(108, 108, 109, 0.025);
        }
        input:focus,
        textarea:focus,
        select:focus {
            background-color: rgba(108, 108, 109, 0.05);
        }
    }
    .yellow-color {
        color: #e0c24c;
    }
    .red-color {
        color: #ec655a;
    }
    .orange-color {
        color: #e78f42;
    }
    .green-color {
        color: #71bf47;
    }
    .blue-color {
        color: #3062d1;
    }
    .violet-color {
        color: #e55c9c;
    }
}
