$themes: map-merge(
    $themes,
    (
        sl:
            map-merge(
                $theme-defaults,
                (
                    background-color: #fdf6e3,
                    medium-color: #586e75,
                    text-color: #657b83,
                    action-color: #859900,
                    error-color: #dc322f,
                    mute-percent: 60%
                )
            )
    )
);
