$theme-defaults: (
    mute-percent: 30%,
    light-border-percent: 10%,
    modal-opacity: 0.9,
    color-lightness-shift: 0,
    focus-shadow-blur: 3px,
    focus-shadow-spread: 0,
    button-border-radius: 1px,
    input-border-radius: 1px,
    selected-border-width: 3px,
    accent-border-width: 1px
);
