.gen-ps {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  @include scrollbar-on-hover;
  width: 100%;
  user-select: none;
  overflow: hidden;
  position: relative;

  >.scroller {
    flex: 1;
    overflow-x: hidden;
  }

  &__buttons {
    margin-top: $base-padding-v;
  }

  &__sample {
    font-weight: normal;
    @include user-select(text);
    @include th { color: th(muted-color); }
  }

  &__example {
    @include user-select(text);
    font-family: $monospace-font-family;
    margin-top: 0;
    white-space: pre-wrap;
    word-break: break-all;
  }

  &__list, &__input {
    height: 2em;
  }
}
