@import "../bower_components/normalize.css/normalize";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/pikaday/scss/pikaday";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "themes/all-themes";

@import "base/base";

@import "utils/back-button";
@import "utils/common-dropdown";
@import "utils/auto-type-hint";
@import "utils/drag";
@import "utils/selection";

@import "common/dates";
@import "common/dropdown";
@import "common/empty";
@import "common/fx";
@import "common/icon-select";
@import "common/modal";
@import "common/scroll";
@import "common/tip";

@import "areas/app";
@import "areas/auto-type";
@import "areas/details";
@import "areas/footer";
@import "areas/grp";
@import "areas/tag";
@import "areas/generator";
@import "areas/generator-presets";
@import "areas/key-change";
@import "areas/list";
@import "areas/menu";
@import "areas/open";
@import "areas/settings";

@include mobile {

  .app {
    &__menu {
      position: absolute;
      top: 4em;
      bottom: 0;
      width: 75%;
      z-index: 1;
      box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);

      &-drag {
        display: none !important;
      }

      @include th {
        background: background-color();
      }

      @include mobile {
        transition: .3s ease-in-out;
        left: 0;

        &:not(.menu-visible) {
          transform: translate(-100%, 0);
          display: flex;
        }
      }
    }
  }

  .list {
    &__search {
      box-shadow: 0 0 .5em rgba(0, 0, 0, 0.5);

      &-icon-search {
        @include th {
          color: text-color();
        }
      }

      &-btn-menu {
        background: transparent !important;
      }

      &-adv {
        padding: 1em .6em 0em .6em;

        &-text {
          font-weight: 600;
          font-size: 0.9em;
          margin-top: 1em;
        }
      }

      &-check {
        padding: .3em 0;

        label {
          margin: 0;
          font-weight: 400;
        }
      }

      input {
        @include th {
          margin: 0;
          border: 0;
          box-shadow: 0 0 0 !important;
          border-bottom: 1px solid action-color();
        }
      }
    }

    &__items .scroller {
      :first-child {
        margin-top: .5em;
      }

      :last-child {
        margin-bottom: .5em;
      }
    }
    &__item {
      padding: .5em 1.5em;
    }
  }

  .menu {
    &__item-body {
      padding: 1em;
      line-height: 1;
    }
  }
}
