.pika-single {
  @include common-dropdown;
}

.pika-label {
  @include th {
    background: th(background-color);
  }
}

button.pika-prev, button.pika-next {
  min-width: 0;
  background: none;
  border: none;
  border-radius: $base-border-radius;
}

button.pika-prev {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}

button.pika-next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}

.pika-table th {
  @include th { color: th(medium-color); };
}

.pika-button, button.pika-button {
  min-width: 0;
  border: none;
  @include th {
    color: th(text-color);
    background-color: th(background-color);
    border-radius: $base-border-radius;
  }
}

.pika-week {
  @include th {
    color: th(medium-color);
  }
}

.is-today .pika-button {
  @include th {
    color: th(action-color);
  }
}

.is-selected .pika-button {
  @include th {
    color: th(text-color);
    background: th(action-color);
    box-shadow: inset 0 1px 3px th(action-color); // make darker?
  }
}

.is-disabled .pika-button {
  @include th { color: th(muted-color); }
  opacity: .3;
}

.pika-button:hover {
  @include th {
    color: th(text-color) !important;
    background: th(action-color) !important;
  }
}
