.empty-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include size(100%);
    @include position(absolute, 0 null null 0);
    text-align: center;
    &__icon {
        font-size: 80px;
        margin-bottom: 10px;
    }
    &__text,
    &__title {
        padding: 0 $base-padding-h;
    }
    &__lower-btns {
        position: absolute;
        bottom: calc(#{$base-spacing} + 1px);
        left: $base-spacing;
    }
}
