.hide {
    display: none !important;
}

.hide-by-pos {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.invisible {
    visibility: hidden !important;
}

.flip3d {
    animation: flip3d 1s linear 0s infinite;
    transform-style: preserve-3d;
}

.grayscale {
    filter: grayscale(1);
}

.input-shake {
    animation: shake 50s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s;
}

.fade-in {
    animation: fade-in $fast-transition-in 0s;
}

.fade-out {
    opacity: 0;
    animation: fade-out $fast-transition-out 0s;
}

.rotate-90,
.fa.rotate-90:before {
    transform: rotate(90deg);
}


.spin {
    animation: spin 2s linear infinite;
}

/*
    animation: spin
*/

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
    animation: flip
*/

@keyframes flip3d {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

/*
    animation: fade
*/

@keyframes fade-in-partial {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*
    animation: shake
*/

@keyframes shake {
    0%,
    1%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    .1%,
    .9% {
        transform: translate3d(-1px, 0, 0);
    }
    .2%,
    .8% {
        transform: translate3d(2px, 0, 0);
    }
    .3%,
    .5%,
    .7% {
        transform: translate3d(-3px, 0, 0);
    }
    .4%,
    .6% {
        transform: translate3d(3px, 0, 0);
    }
}

/*
    animation: scale
*/

    @keyframes atx-tcv2-anim-scale-in
    {
        0%
        {
            transform:          scale( 1 );
        }
        100%
        {
            transform:          scale( 1.3 );
        }
    }

    @keyframes atx-tcv2-anim-scale-out
    {
        0%
        {
            transform:          scale( 1.3 );
        }
        100%
        {
            transform:          scale( 1 );
        }
    }
