.help-tip {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
  position: absolute;
  font-size: 16px;
  left: 320px;
  top: 380px;
  border-radius: $base-border-radius;
  @include th {
    color: background-color();
    background-color: text-color();
    box-shadow: 0 0 10px rgba(medium-color(), .2);
    border-bottom: selected-border();
  }
  &__side {
    @include flex(0 0 auto);
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(column);
    @include justify-content(center);
    @include th {
      background-color: action-color();
      color: text-color();
    }
    cursor: pointer;
    border-top-left-radius: $base-border-radius;
    font-size: 16px;
    padding: 0 6px;
  }
  &__text {
    padding: $base-padding;
  }
}
