{
    "presets": [],
    "plugins": [
        ["@babel/plugin-transform-class-properties", { "loose": true }],
        ["@babel/plugin-transform-object-rest-spread", { "loose": true,
            "useBuiltIns": true
        }],
        "@babel/plugin-transform-optional-catch-binding",
        "@babel/plugin-transform-optional-chaining",
        "@babel/plugin-transform-nullish-coalescing-operator",
        "@babel/plugin-transform-logical-assignment-operators",
        "@babel/plugin-external-helpers"
    ]
}
