# Browsers that we support

last 2 Firefox versions
last 2 Chrome versions
last 2 Safari version
last 2 iOS versions
last 2 Opera versions
last 2 Edge versions
last 2 Android versions
last 2 ChromeAndroid versions
Electron > 6.0.1
