# http://editorconfig.org

# is top-most EditorConfig file
root = true

# All Files
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Other
[{*.nsh,*.yml,*.yaml,*.json}]
indent_style = space
indent_size = 2
