{
    "extends": "standard",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": ["error", "always"],
        "one-var": "off",
        "space-before-function-paren": "off",
        "no-throw-literal": "off",
        "camelcase": ["error", { "properties": "always" }],
        "no-console": "error",
        "no-alert": "error",
        "no-debugger": "error",
        "prefer-arrow-callback": "error",
        "object-property-newline": "off",
        "no-useless-escape": "off",
        "no-var": "error",
        "prefer-const": "error",
        "no-unused-expressions": "error",
        "strict": ["error", "never"],
        "no-mixed-operators": "off",
        "prefer-promise-reject-errors": "off",
        "standard/no-callback-literal": "off",
        "import/no-webpack-loader-syntax": "off"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "globals": {
        "_": true,
        "$": true
    },
    "env": {
        "browser": true
    }
}
