html {
    @include size(100%);
    overflow: hidden;
    position: fixed;
}

body {
    overflow: hidden;
    cursor: default;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

noscript {
    display: block;
    margin-top: 10%;
    text-align: center;
    font-size: 16px;
}
