@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin nomobile {
    @media (min-width: #{$mobile-width + 1}) {
        @content;
    }
}
