body {
    --focus-shadow-spread: 3px;
    --button-border-radius: 3px;
    --input-border-radius: 4px;
    --block-border-radius: 5px;
    --selected-item-text-color: var(--text-color);
    --open-icon-icon-n-color: var(--text-color);
    --dropdown-box-shadow-color: rgba(0, 0, 0, 0.1);
}
