<table class="list__table">
    <thead>
        <tr>
            <th><i class="fa fa-bars muted-color list__table-options"></i></th>
            {{#each columns as |col|}}
                {{#if col.enabled}}<th>{{Res col.name}}</th>{{/if}}
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{{items}}}
    </tbody>
</table>
