<div class="details__field
    {{~#if cls}} details__field--{{cls}}{{/if~}}
    {{~#if editable}} details__field--editable{{/if~}}
    {{~#if multiline}} details__field--multiline{{/if~}}
    {{~#if canEditTitle}} details__field--can-edit-title{{/if~}}
    {{~#if canGen}} details__field--can-gen{{/if~}}
    {{~#if protect}} details__field--protect{{/if~}}
    {{~#if hasOptions}} details__field--options{{/if~}}
    ">
    <div class="details__field-label" draggable="true">{{title}}</div>
    <div class="details__field-value">
    </div>
    {{#if hasOptions}}<i class="details__field-options fa fa-chevron-down"></i>{{/if}}
</div>
