<div class="menu__section
    {{~#if scrollable}} menu__section--scrollable{{/if~}}
    {{~#if grow}} menu__section--grow{{/if~}}
    {{~#if drag}} menu__section--drag{{/if~}}
    ">
    {{~#if scrollable}}
    <div class="scroller"></div><div class="scroller__bar-wrapper"><div class="scroller__bar"></div></div>
    {{/if}}
</div>
