<div class="empty-block muted-color">
    <h1 class="empty-block__title">{{res 'detGroupRestore'}}</h1>
    <div class="empty-block__lower-btns">
        <i class="details__buttons-trash-del fa fa-circle-minus"></i>
    </div>
</div>
