<div class="details">
    <div class="details__back-button">
        <i class="fa fa-chevron-left"></i> back to list
    </div>
    <div class="details__header">
        <i class="details__header-color fa fa-bookmark-o" title="Change icon color">
            <span class="details__colors-popup">
                <span class="details__colors-popup-item yellow-color fa fa-bookmark-o" data-color="yellow"></span>
                <span class="details__colors-popup-item green-color fa fa-bookmark-o" data-color="green"></span>
                <span class="details__colors-popup-item red-color fa fa-bookmark-o" data-color="red"></span>
                <span class="details__colors-popup-item orange-color fa fa-bookmark-o" data-color="orange"></span>
                <span class="details__colors-popup-item blue-color fa fa-bookmark-o" data-color="blue"></span>
                <span class="details__colors-popup-item violet-color fa fa-bookmark-o" data-color="violet"></span>
            </span>
        </i>
        <h1 class="details__header-title"><%- title || '(no title)' %></h1>
        <% if (customIcon) { %>
        <div class="details__header-icon details__header-icon--icon" style="background-image: url(<%= customIcon %>)" title="Change icon"></div>
        <% } else { %>
        <i class="details__header-icon fa fa-<%= icon %>" title="Change icon"></i>
        <% } %>
    </div>
    <div class="details__body">
        <div class="scroller">
            <div class="details__body-fields">
            </div>
            <div class="details__body-aside">
            </div>
        </div>
        <div class="scroller__bar-wrapper"><div class="scroller__bar"></div></div>
    </div>
    <div class="details__buttons">
        <% if (deleted) { %><i class="details__buttons-trash-del fa fa-minus-circle" title="Delete permanently"></i>
        <% } else { %><i class="details__buttons-trash fa fa-trash-o" title="Delete"></i><% } %>
        <div class="details__attachments">
            <% attachments.forEach(function(attachment, ix) { %>
            <div class="details__attachment" data-id="<%= ix %>"><i class="fa fa-<%= attachment.icon %>"></i> <%- attachment.title %></div>
            <% }); %>
            <% if (!attachments.length) { %>
            <div class="details__attachment-add">
                <span class="details__attachment-add-title">drag attachments here</span> <i class="fa fa-paperclip"></i>
            </div>
            <% } %>
        </div>
    </div>
    <div class="details__dropzone">
        <i class="fa fa-paperclip muted-color details__dropzone-icon"></i>
        <h1 class="muted-color details__dropzone-header">drop attachments here</h1>
    </div>
</div>
