<div class="details__field details__field--editable details__field--no-select">
    <div class="details__field-label">{{res 'detMore'}}&hellip;</div>
    <div class="details__field-value">
        <div class="details__field-value-add-label">{{res 'detClickToAddField'}}</div>
    </div>
</div>
