<div class="details__field
    {{~#if editable}} details__field--editable{{/if~}}
    {{~#if multiline}} details__field--multiline{{/if~}}
    {{~#if canEditTitle}} details__field--can-edit-title{{/if~}}
    {{~#if protect}} details__field--protect{{/if~}}
    ">
    <div class="details__field-label">{{title}}</div>
    <div class="details__field-value">
    </div>
</div>
