Package: keeweb-desktop
Version: {ver}
Section: base
Priority: optional
Architecture: amd64
Maintainer: antelle <antelle.net@gmail.com>
Installed-Size: {size}
Homepage: https://keeweb.info/
Description: KeeWeb
 Free cross-platform password manager
 compatible with KeePass
