$themes: map-merge(
    $themes,
    (
        db:
            map-merge(
                $theme-defaults,
                (
                    background-color: #342f2e,
                    medium-color: #fed9d8,
                    text-color: #ffeae9,
                    action-color: #2c9957,
                    error-color: #fd6d67
                )
            )
    )
);

body.th-db {
    .list__item--active .blue-color {
        color: #0051d2;
    }
    .list__item--active .green-color {
        color: #77d644;
    }
}
