[Desktop Entry]
Name=KeeWeb
GenericName=Password Manager
GenericName[de]=Passwortverwaltung
GenericName[es]=Gestor de contraseñas
GenericName[fr]=Gestionnaire de mot de passe
GenericName[ru]=Менеджер паролей
Comment=Free cross-platform password manager compatible with KeePass
Exec=keeweb %u
Icon=keeweb
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;
MimeType=application/x-keepass2;
StartupWMClass=KeeWeb
