@mixin common-dropdown {
  -webkit-app-region: no-drag;
  @include th {
    color: th(text-color);
    background: th(background-color);
    border: 1px solid th(light-border-color);
    box-shadow: dropdown-box-shadow();
    .edge & { border-width: 1px !important; } // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12132854/
  }
}
