.drag-mask {
    @include size(100%);
    @include position(absolute, 0 null null 0);
    -webkit-app-region: no-drag;
}

@mixin drag-handle {
    position: relative;
    -webkit-app-region: no-drag;
    transition: background-color $slow-transition-out;
    @include th {
        background: th(light-border-color);
    }
    &:hover,
    &.dragging {
        @include nomobile {
            transition: background-color $slow-transition-in;
            @include th {
                background: th(accent-border-color);
            }
        }
    }
}

.drag-handle__inner {
    position: absolute;
    top: 0;
    left: -2px;
    width: 5px;
    height: 100%;
    @include mobile {
        display: none;
    }
}
