/*
    @app            keeweb
    @author         Aetherinox
    @repo           https://github.com/keeweb/keeweb
                    https://github.com/keeweb/docker-alpine-base
                    https://hub.docker.com/repository/docker/keeweb/keeweb
                    https://hub.docker.com/repository/docker/keeweb/alpine-base

    Primary theme CSS
*/

body
{
    background-color: #f8f9fa;
    padding-bottom: 20px;
}

@media (prefers-color-scheme: dark)
{
    body
    {
        background-color: #262626;
        color: #fff;
    }
}

.container nav
{
    margin-left: -8px;
}

.container .about
{
    padding-left: 8px;
    padding-bottom: 40px;
    font-size: 9.3pt;
}

.breadcrumb
{
    background-color: transparent;
    padding: 0rem 1rem;
}

.breadcrumb .breadcrumb-item a
{
    color: #4caf50;
}

html
{
    position: relative;
    min-height: 100%;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #151515;
}

.footer a,
.footer a:focus,
.footer a:hover
{
    color: #FFFFFF;
}

.footer a
{
    color: #f7296c;
}

.navbar
{
    padding: 15px 1rem;
}

.header
{
    background-color: #a82147;
    color: #fff;
    height: 55px;
}

.header .navbar-brand
{
    padding: 0 8px;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
}

.header a
{
    color: #FFF;
    text-decoration: none;
    padding-left: 7px;
}

#breadcrumbs::before
{
    margin-top: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='white' width='19px' height='19px'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M160 384H512c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H394.5c-17 0-33.3-6.7-45.3-18.7L322.7 50.7c-12-12-28.3-18.7-45.3-18.7H160c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M24 96c13.3 0 24 10.7 24 24V344c0 48.6 39.4 88 88 88H456c13.3 0 24 10.7 24 24s-10.7 24-24 24H136C60.9 480 0 419.1 0 344V120c0-13.3 10.7-24 24-24z'%3E%3C/path%3E%3C/svg%3E");
}

.breadcrumb-item.active
{
    color: #6c757d;
    padding-left: 10px;
}

.breadcrumb
{
    padding-top: 30px;
}

#list a,
#list a:focus
{
    color: #FFF !important;
}

#list a:hover
{
    color: #ff275d !important;
}

#list colgroup
{
    display: none;
}

#list .filename
{
    word-break: break-all;
    white-space: normal;
}

.table thead th a
{
    color: #9b9b9b !important;
    font-weight: normal;
}

.table td, .table th
{
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.table thead tr
{
    border-bottom: 2px solid #575757;
    background-color: #181818;
}

.table thead th
{
    vertical-align: bottom;
    border-bottom: 0px solid #575757;
}

.table-hover tbody tr:hover
{
    background-color: rgba(155, 155, 155, 0.075);
}

.text-accent
{
    font-weight: bold;
    color: #d0c273;
}

code
{
    font-size: 96%;
    color: #ff4985;
    word-break: break-word;
    padding-right: 5px;
    padding-left: 4px;
}

@media (prefers-color-scheme: dark)
{
    #list a,
    #list a:focus,
    #list a:hover {
        color: #fff;
    }
}
