.at-select {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  @include th { background-color: background-color(); }
  box-sizing: border-box;
  z-index: $z-index-no-modal;
  opacity: 1;
  padding: $base-padding;

  &__header {
    @include display(flex);
    &-text {
      @include flex(1 1);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: $base-padding-h;
    }
    &-filter {
      @include flex(auto 0);
      position: relative;
    }
    &-filter-input {
      width: 200px;
    }
    &-filter-clear {
      cursor: pointer;
      position: absolute;
      right: .7em;
      top: .7em;
    }
  }
  &__message {
    @include display(flex);
    &-text {
      @include flex(1 1);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: $base-padding-h;
    }
  }
  &__items {
    // TODO: fix scroller
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    @include scrollbar-on-hover;
    overflow: hidden;
    position: relative;
    >.scroller {
      @include flex(1);
      @include align-self(stretch);
      position: relative;
      @include mobile {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
}
