.gen {
  position: absolute;
  @include dropdown;
  padding: $base-spacing;
  width: 10em;
  &__length-range {
  }
  &__check {
    width: 40%;
    display: inline-block;
    &:nth-child(even) {
      margin-left: 15%;
    }
  }
  &__result {
    @include user-select(text);
    font-family: $monospace-font-family;
    margin-top: $base-padding-v;
    height: 4em;
    text-align: center;
    white-space: pre;
    word-wrap: break-word;
  }
  &__btn-wrap {
    text-align: center;
  }
}

@-moz-document url-prefix() {
  .gen__result {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
