.gen {
  position: absolute;
  @include common-dropdown;
  padding: $base-spacing;
  width: 11em;
  &__length-range {
  }
  &__btn-refresh {
    float: right;
    cursor: pointer;
    position: relative;
    top: 2px;
    @include th {
      color: th(muted-color);
      &:hover { color: th(text-color); }
    }
  }
  &__sel-tpl {
    width: 100%;
    height: 2em;
    margin-top: $base-padding-v;
  }
  &__check {
    width: 40%;
    display: inline-block;
    &:nth-child(even) {
      margin-left: 15%;
    }
  }
  &__result-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__result {
    @include user-select(text);
    font-family: $monospace-font-family;
    margin-top: 6px;
    margin-bottom: 3px;
    height: 50px;
    text-align: center;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: hidden;
    &--long-pass {
      font-size: .75em;
    }
  }
  #gen__check-hide {
    $width: 1.3em;
    & + label {
      width: $width;
      margin-right: -$width;
      margin-top: 1.3ex;
      margin-left: $small-spacing;
    }
    & + label:before {
      @include fa-icon;
      content: $fa-var-eye;
    }
    &:checked + label:before {
      content: $fa-var-eye-slash;
    }
  }
  &__btn-wrap {
    text-align: center;
  }
}

@-moz-document url-prefix() {
  .gen__result {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
