.grp {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    @include scrollbar-on-hover;
    width: 100%;
    user-select: none;
    overflow: hidden;
    position: relative;
    @include padding-if-titlebar;

    > .scroller {
        flex: 1;
        overflow-x: hidden;
    }

    &__content,
    &__buttons {
        padding: $medium-padding;
    }

    &__icon {
        display: block;
        font-size: $large-header-font-size;
        padding: $base-padding-px;
        align-self: flex-start;
        @include area-selectable();
        &--image {
            width: 28px;
            height: 28px;
        }
    }

    &__icon-wrap {
        display: flex;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        margin-top: $base-padding-v;

        &-trash {
            @include icon-btn($error: true);
        }
    }
}
