.list {
  @include flex(1);
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(column);
  @include justify-content(flex-start);
  overflow: hidden;

  &__header {
  }

  &__items {
    @include flex(1);
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(column);
    @include scrollbar-on-hover;
    overflow: hidden;
    position: relative;
    >.scroller {
      @include flex(1);
      @include align-self(stretch);
      position: relative;
      // @include size(100%);
    }
  }

  &__search {
    padding: $small-spacing;

    &-header {
      @include display(flex);
      @include align-items(stretch);
      @include flex-direction(row);
      @include justify-content(flex-start);
    }
    &-field-wrap {
      @include flex(1);
      position: relative;
    }
    &-field {
      width: 100%;
    }
    &-icon-search {
      @include th { color: muted-color(); }
      position: absolute;
      top: .6em;
      right: .5em;
      cursor: pointer;
      &:hover {
        @include th { color: medium-color(); }
      }
    }
    &-btn-new {
      @include icon-btn;
      margin-left: $small-spacing;
    }
    &-btn-sort {
      @include icon-btn;
    }
  }

  &__item {
    @include area-selectable(right);
    padding: $base-padding-px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 32px;

    &--active, &--active:hover {
      @include area-selected(right);
    }

    &--expired {
      .list__item-title, .list__item-descr { text-decoration: line-through; }
    }

    i {
      width: 16px;
    }

    .list__item-descr {
      font-size: .8em;
      @include th { color: muted-color(); }
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
