.settings {
  @include flex(1);
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  @include scrollbar-on-hover;
  margin: $base-padding;
  overflow: hidden;
  position: relative;

  >.scroller {
    @include flex(1 0 0);
  }

  h2,h3 {
    margin-top: 20px;
  }

  .shortcut {
    @include th { border: 1px solid muted-color(); }
    display: inline-block;
    border-radius: $base-border-radius;
    width: 40px;
    text-align: center;
    padding: $base-padding;
    margin: 0 $base-padding-h $base-padding-v $base-padding-h;
    &-large {
      width: 80px;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }

  &__back-button {
    &-pre, &-post { display: none; }
    cursor: pointer;
    @include mobile {
      line-height: $mobile-back-button-height;
      height: $mobile-back-button-height;
      padding-bottom: $base-padding-v;
      >i { margin-right: $base-padding-h; }
      &-pre { display: inline; }
    }
    @include nomobile {
      position: absolute;
      top: 0;
      right: $base-padding-h;
      padding: $base-padding-v * 2 0 1px 0;
      z-index: 1;
      @include th {
        background: background-color();
        box-shadow: 0 0 5px 5px background-color();
      }
      &-post { display: inline; }
    }
  }

  &__select, &__input {
    height: 2em;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    @extend .input-size-base;
  }

  &__col-small {
    width: 30%;
    position: relative;
    >.settings__input {
      width: 100%;
    }
  }

  &__col-small-label {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }

  &__pre {
    @include user-select(text);
    white-space: pre-wrap;
  }

  &__select-no-margin {
    margin-bottom: $base-padding-v;
  }

  #settings__file-master-pass {
    font-family: $monospace-font-family;
  }

  &__file-master-pass-warning {
    font-weight: normal;
    float: right;
    display: none;
  }

  &__file-save-to {
    cursor: pointer;
    display: inline-block;
    margin-right: $base-padding-h;
    text-align: center;
    >i, >svg {
      display: block;
      font-size: 3em;
      padding: $base-padding-px;
      margin: auto;
    }
    >svg {
      @include size(1em);
    }
    &:hover {
      transition: color $base-duration $base-timing;
      @include th { color: medium-color(); }
    }
  }

  &__general-update-buttons {
    margin-top: $base-spacing;
  }
  &__general-update-btn {
    width: 15em;
    margin-right: $small-spacing;
  }
  &__general-storage-header {
    margin-bottom: 0;
  }
  &__general-prv {
    margin-bottom: $base-padding-v;
  }
  &__logs {
    @include user-select(text);
    margin-top: $base-padding-v;
    &-log {
      margin: 0;
      white-space: pre-wrap;
      &--debug { opacity: .8; }
      &--info {  }
      &--warn { color: $yellow; }
      &--error { color: $red; }
    }
  }
}
