.tag {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    user-select: none;
    padding: $medium-padding;
    @include padding-if-titlebar;

    &__space {
        flex: 1;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        margin-top: $base-padding-v;

        &-trash {
            @include icon-btn($error: true);
        }
    }
}
