<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{res 'autoTypePopup'}}</title>
    <style>{{{css}}}</style>
</head>
<body class="{{themeClass}} at-popup">
Hello!
{{res 'autoTypePopup'}}
<button class="btn-silent">Select</button>
</body>
</html>
