<div class="footer">
    <% files.forEach(function(file) { %>
    <div class="footer__db footer__db-item <%= file.get('open') ? '' : 'footer__db--dimmed' %>" data-file-id="<%= file.cid %>">
        <i class="fa fa-<%= file.get('open') ? 'unlock' : 'lock' %>"></i> <%- file.get('name') %>
        <% if (file.get('modified') && !file.get('syncing')) { %><i class="fa fa-circle footer__db-sign"></i><% } %>
    </div>
    <% }); %>
    <div class="footer__db footer__db--dimmed footer__db--expanded footer__db-open"><i class="fa fa-plus"></i> Open / New</div>
    <!--<div class="footer__btn footer__btn-view"><i class="fa fa-list-ul"></i></div>-->
    <div class="footer__btn footer__btn-help"><i class="fa fa-question"></i></div>
    <div class="footer__btn footer__btn-settings"><i class="fa fa-cog"></i></div>
    <div class="footer__btn footer__btn-generate"><i class="fa fa-bolt"></i></div>
    <div class="footer__btn footer__btn-lock"><i class="fa fa-lock"></i></div>
</div>
