<div class="gen">
    <input type="text" class="gen__input-small" id="gen__text-len" value="16" maxlength="2" size="2" />
    <label for="gen__text-len">symbols</label>
    <div>
        <input type="checkbox" id="gen__check-upper" checked><label for="gen__check-upper">ABC</label>
        <input type="checkbox" id="gen__check-lower" checked><label for="gen__check-lower">abc</label>
    </div>
    <div>
        <input type="checkbox" id="gen__check-digits" checked><label for="gen__check-digits">123</label>
        <input type="checkbox" id="gen__check-special"><label for="gen__check-special">!@#</label>
    </div>
    <div>
        <input type="checkbox" id="gen__check-brackets"><label for="gen__check-brackets">({<</label>
        <input type="checkbox" id="gen__check-high"><label for="gen__check-high">äæ±</label>
    </div>
    <div>
        <input type="checkbox" id="gen__check-ambiguous"><label for="gen__check-ambiguous">0Oo</label>
    </div>
    <div class="gen__result">password</div>
</div>