<div class="icon-select">
    <div class="icon-select__items">
        <% icons.forEach(function(icon, ix) { %>
        <i class="fa fa-<%= icon %> icon-select__icon <%= ix === sel ? 'icon-select__icon--active' : '' %>" data-val="<%= ix %>"></i>
        <% }); %>
    </div>
    <div class="icon-select__items icon-select__items--custom">
        <input type="file" class="icon-select__file-input hide-by-pos" accept="image/*" />
        <% if (canDownloadFavicon) { %>
        <span class="icon-select__icon icon-select__icon-btn icon-select__icon-download"
              data-val="special" data-special="download" title="Download and use website favicon">
            <i class="fa fa-cloud-download"></i>
        </span>
        <% } %>
        <span class="icon-select__icon icon-select__icon-btn icon-select__icon-select"
              data-val="special" data-special="select" title="Select custom icon">
            <i class="fa fa-ellipsis-h"></i>
        </span>
        <% Object.keys(customIcons).forEach(function(ci) { %>
        <span class="icon-select__icon icon-select__icon-btn icon-select__icon-custom <%= ci === sel ? 'icon-select__icon--active' : '' %>"
              data-val="<%- ci %>">
            <img src="<%= customIcons[ci] %>" />
        </span>
        <% }); %>
    </div>
</div>
