<table class="list__table">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>User</th>
            <th>Website</th>
            <th>Tags</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{{items}}}
    </tbody>
</table>
