<div class="list__search">
    <div class="list__search-header">
        <div class="list__search-btn-menu">
            <i class="fa fa-bars"></i>
        </div>
        <div class="list__search-field-wrap">
            <input type="text" class="list__search-field input-padding-right" autocomplete="off">
            <i class="list__search-icon-search fa fa-search"></i>
        </div>
        <div class="list__search-btn-new" title="{{res 'searchAddNew'}}">
            <i class="fa fa-plus"></i>
        </div>
        <div class="list__search-btn-sort" title="{{res 'searchSort'}}">
            <i class="fa fa-sort-alpha-asc"></i>
        </div>
    </div>
</div>
