<div class="empty-block muted-color">
    <div class="empty-block__icon"><i class="fa fa-key"></i></div>
    <h1 class="empty-block__title">Empty</h1>
    <p class="empty-block__text">
        add with <i class="fa fa-plus"></i> button above
    </p>
</div>