<div class="open__file <%= error ? 'open__file--error' : '' %>">
    <input type="file" class="open__file-ctrl hide" />
    <div class="open__file-icon-wrap open__file-icon-wrap--left">
        <% if (name) { %>
        <i class="open__file-icon fa fa-lock <%= opening ? 'open__file-icon--opening' : '' %>" disabled></i>
        <% } else { %>
        <i class="open__file-btn-new fa fa-plus" <%= opening ? 'disabled' : '' %>></i>
        <% } %>
    </div>
    <div class="open__file-password">
        <div class="open__file-title">
            <% if (name) { %>
            <a class="open__file-link-name <%= opening ? 'disabled' : '' %> muted-color"><%- name %></a> / <a
                class="open__file-link-name muted-color" <%= opening ? 'disabled' : '' %>>Another</a>
            <% } else { %>
            <a class="open__file-link-open muted-color" <%= opening ? 'disabled' : '' %>>Open</a> / <a
                class="open__file-link-new muted-color" <%= opening ? 'disabled' : '' %>>New</a> / <a
                class="open__file-link-demo muted-color" <%= opening ? 'disabled' : '' %>>Demo</a>
            <% } %>
        </div>
        <div class="open__file-warning muted-color hide"><i class="fa fa-exclamation-triangle"></i> Caps Lock is on</div>
        <input class="open__file-input <%= error ? 'input--error' : '' %>" type="password"
               size="30" autocomplete="off" maxlength="128"
               placeholder="<%- name ? 'Password for ' + name : 'Click to open a file' %>"
                <%= name ? 'autofocus' : 'readonly' %> <%= opening ? 'disabled' : '' %> />
    </div>
    <div class="open__file-icon-wrap open__file-icon-wrap--right">
        <i class="open__file-btn-key fa fa-key <%= (keyFileName && !opening) ? 'open__file-btn-key--active' : '' %>"
            <%= (name && !opening) ? '' : 'disabled' %>></i>
    </div>
</div>
