<div class="titlebar-buttons">
    <i class="fa fa-titlebar-minimize titlebar-buttons-minimize"></i>
    {{#if maximized}}
        <i class="fa fa-titlebar-restore titlebar-buttons-restore"></i>
    {{else}}
        <i class="fa fa-titlebar-maximize titlebar-buttons-maximize"></i>
    {{/if}}
    <i class="fa fa-titlebar-close titlebar-buttons-close"></i>
</div>
