<div class="vlock">
    <div class="vlock__input-wrap">
        <input type="password" class="vlock__input" autofocus placeholder="Password for <%- fileName %>"
               size="30" autocomplete="off" />
        <div class="vlock-enter-btn"><i class="fa fa-level-down fa-rotate-90"></i></div>
    </div>
    <div class="vlock__text">
        <div>To continue, please, enter password for <%- fileName %>.</div>
        <div>
            <% if (reason === 'localFiles') { %>
            You have opened some files which cannot be auto-saved.
            <% } else if (reason === 'saveError') { %>
            Failed to save file<%- (errorFiles.length > 1 ? 's: ' : ' ') + errorFiles.join(', ') %>.
            <% } else if (reason === 'autoSaveDisabled') { %>
            Your files are still not saved because auto-save is disabled.
            <% } %>
        </div>
    </div>
</div>
